/* Custom font implementation */
@font-face {
  font-family: Changa;
  src: url('../../static/fonts/Changa-Regular.ttf');
  font-weight: normal;
}
@font-face {
  font-family: Changa-Bold;
  src: url('static/fonts/Changa-Bold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: Changa-Light;
  src: url('static/fonts/Changa-Light.ttf');
  font-weight: lighter;

}
@font-face {
  font-family: Changa-Medium;
  src: url('static/fonts/Changa-Medium.ttf');
}

.parallax-container {
  height: 250px;
}

footer {
  font-family: 'Changa', sans-serif; /* Use the font family */
  transition: color 1s ease, background-color 1s ease;
}

footer.dark {
  background-color: #202123;
  color: #fff;
}
footer.dark a:hover{
  color: #27a79c;
}
footer.dark .section {
  background-color: #202123 !important;
}
.mawidev {
  color: #02cd93;
}

body.dark .mawidev {
  color: #186e67;
}

body {
  font-family: 'Changa', sans-serif; /* Use the font family */
  background-color: #eee;
  transition: color 1s ease, background-color 1s ease;
}

body.dark {
  background-color: #202123;
  color: #fff;
}
body.dark nav a:hover{
  color: #27a79c;
}
body.dark .section {
  background-color: #202123 !important;
}
.parallax_image {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
body.dark .parallax_image {
  filter: grayscale(850%);
}
body.dark .card-panel {
  background-color: rgba(255, 255, 255, 0.2);
}
body.dark .btn {
  background-color: #186e67;
}

body.dark .btn-small {
  background-color: #186e67;
}
body.dark .divider {
  opacity: 0.2;
}
body.dark .sidenav {
  background-color: #2d2d31;
}
body.dark .sidenav li a:not(.subheader) {
  color: #89b2f5;
}
body.dark .sidenav li a:not(.subheader):hover {
  background-color: #3b4043;
}
body.dark .sidenav li a.subheader {
  color: #9aa0a6;
}
body.dark .sidenav li a .material-icons {
  color: #9aa0a6;
}
body.dark .collection {
  border: 1px solid rgba(255, 255, 255, 0.2);
}
body.dark .collection .collection-item {
  background-color: rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}


nav {
  background-color: #00242d;
}

footer {
  background-color: #00242d !important;
}

footer a:hover {
  color: #00feb7;
}

nav a:hover {
  color: #00feb7;
}

/* .card {
  height: 350px;
  overflow: hidden;
} */

.btn-main {
  background-color: #00feb7;
  color: #00242d;
}

.btn-main:hover {
  color: #000000;
}

.brand-logo {
  display: inline-block;
  height: 100%;
}

.profile_image {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  border: 2px solid #272133;
  margin-top: 20px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

::-moz-selection { /* Code for Firefox */
  background: rgba(0, 254, 183, 0.5);
}

::selection {
  background: rgba(0, 254, 183, 0.5);
}

